/* Header */
.navbar {
	border: 0;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 0;
}

.navbar-default {
	background-color: #f8f8f8;
}


/* Content */
#content {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 20px;
}


/* Front Page */
.home .img-home {
	margin-top: 20px;
	border-radius: 50vmax;
	transition-duration: 1s;
}

.home .img-home:hover {
	border-radius: 4px;
}

.home .type-page .entry-title:hover {
	transition-duration: 1s;
}

.home .type-page .entry-title:hover {
	transform: rotateZ(-5deg);
	transform-origin: 50px;
}

.home .block-title {
	margin-left: 15px;
	margin-bottom: 30px;
}


/* Project listed in Archive */
.type-project .cycle-slideshow .cycle-slide {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center top;
}


/* Project Single */
.single-project .cycle-slideshow .cycle-slide {
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center top;
}


/* Competence listed in Archive */
.type-competence .competence-img {
	width: 100%;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}


/* Competence listed in a cycle-slideshow */
.cycle-slideshow .competence-slide {
	width: auto;
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
	white-space: normal;
	vertical-align: top;
}


/* Footer */
#colophon {
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
	padding: 20px 50px;
}


/* 404 Error Page */
.error404 .img-404 {
	width: 100%;
	max-width: 200px;
}